asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
authlib==1.6.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==6.0.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.2 ; python_version >= "3.12" and python_version < "4.0"
cryptography==45.0.3 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.7.0 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.12.0 ; python_version >= "3.12" and python_version < "4"
django-js-asset==3.1.2 ; python_version >= "3.12" and python_version < "4.0"
django-mptt==0.17.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.2.1 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.16.0 ; python_version >= "3.12" and python_version < "4.0"
drf-oidc-auth==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyjwt[crypto]==2.10.1 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "4.0"
